* {
  font-size: 15px;
}

body {
  margin: 0 0;
}

body a {
  text-decoration: none;
  color: black;
}

header {
  width: 1300px;
  height: 20px;
  margin: 15px auto;
}

#logo {
  float: left;
}

/* 마이페이지, 로그아웃 */
#topmenu {
  float: right;
  width: 645px;
  height: 20px;
}

#topmenu ul {
  margin-top: 0px;
}

#topmenu ul li {
  float: right;
  list-style: none;
  padding-left: 30px;
  font-size: 11px;
  font-weight: bold;
}

/* T플래너, T다이어리, 여행정보, 예약 */
nav {
  width: 1300px;
  height: 30px;
  margin: 0 auto;
}

#menu {
  float: right;
  display: flex;
  height: 30px;
  justify-content: center;
}

#menu ul {
  display: flex;
  margin: 0 auto;
  width: 600px;
  gap: 60px;
  padding: 0;
}

#menu ul li {
  list-style: none;
  text-align: center;
}

#menu a {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
}

#menu .sub {
  display: none;
  width: 150px;
  padding: 10px 0;
}

#menu a:hover {
  background-color: #bfd1df;
  color: #fff;
  text-decoration: underline;
}

#menu .top:hover .sub {
  display: block;
  position: absolute;
  top: 75px;
  transition: background-color 0.3s, color 0.3s;
  color: #fff;
  white-space: nowrap;
  background: #bfd1df;
}

#menu .top:hover .sub li {
  display: block;
  text-align: left;
  padding: 10px 10px;
  font-size: 15px;
}

#menu .top:hover .sub li a {
  color: #fff;
  background: none;
  font-size: 15px;
}

/* 검색창 */
.search-container {
  float: right;
  display: flex;
  border-bottom: 2px solid #5891BE;
  overflow: hidden;
  background-color: white;
  width: 250px;
  height: 30px;
  padding: 2px;
  margin-left: 100px;
}

.search-box {
  border: none;
  padding: 10px;
  font-size: 15px;
  width: 100%;
}

.search-box:focus {
  outline: none;
}

.search-button {
  background-color: #ffffff;
  margin-top: 3px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 30%;
}

.line {
  display: flex;
  width: 100%;
  margin-top: 25px;
  border-bottom: 1px solid #bfd1df;
  
}