/* 추천 플래너 */
.pback{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("/img/sunset.jpg");
  background-size: cover;
  width: 100%;
  margin-top: 25px;
  padding: 50px 0;
}

.pback .pbinner{
  text-align: center;
  width: 1600px;
  background-image: url("/img/pbinner.png");
  padding-top: 20px;
  border-radius: 20px;
  padding-bottom: 20px;
}

.planner {
  width: 1300px;
  margin: 0 auto;
  text-align: center;
}

.planner h1 {
  font-size: 35px;
  font-weight: bolder;
  margin: 0 0;
}

.planner h1 img{
  width: 40px;
  height: 40px;
  margin-right: 10px;

}

.cardback {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  justify-content: center;
  height: 300px;
}

.cardback .cardpage {
  display: flex;
  width: 1300px;
  gap: 49px;
  overflow:hidden;
}

.cardpage .card {
  display: flex;
  width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  margin: 10px 0;
}

.cardpage .position {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 10px;
}

.cardback .cardpage .card img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.cardback .cardpage .card .name {
  font-size: 15px;
  font-weight: bold;
  margin-top: 20px;
}

.cardback .cardpage .card .planInfo {
  padding-top: 5px;
  width: 100%;
  display: inline-block;
  color: #6f3a00;
  font-weight: bold;
  margin-top: 10px;
}

.cardback .cardpage .card .planInfo .category {
  float: right;
  font-size: 13px;
}

.cardback .sab1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
  height: 300px;
}

.cardback .sab2 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity : 0.5;
  width: 100px;
  height: 300px;
}



/* main 검색 */
.mainp {
  display: block;
  text-align: center;
  margin-top: 80px;
}

.mainp .psearch {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin: 0 auto;
}

select {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #6f3a00;
  border-radius: 5px;
  color: #6f3a00;
  cursor: pointer;
  outline: none;
  max-height: 150px;
  overflow-y: auto;
}

option {
  background-color: #6f3a00;
  color: #ffffff;
}

.search-hash {
  float: right;
  display: flex;
  justify-content: center;
  border: 2px solid #6f3a00;
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
  width: 500px;
  height: 50px;
  margin-left: 20px;
  padding-left: 15px;
}

.search-hash a {
  color: #dc8b35;
  font-size: 25px;
  margin-top: 8px;
  font-weight: bold;
}

.search-box {
  border: none;
  padding: 10px;
  font-size: 25px;
  width: 100%;
}

.search-box:focus {
  outline: none;
}

.search-button {
  background-color: #ffffff;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 30%;
}

/* main */

.mainp .pplanner{
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  margin: 0 auto;
  margin-bottom: 50px;
}


.mainp .splanner {
  display: flex;
  justify-content: center;
}

.splanner .planners {
  display: inline-block;
}

.splanner .planners .planshow {
  display: flex;
  justify-content: space-between;
  width: 360px;
  padding: 0 10px;
  margin: 0 25px;
  margin-top: 50px;
}

.splanner .planners .planshow .pinfo {
  display: inline-block;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px #bdbdbd;
}

.splanner .planners .planshow img {
  width: 100%;
  height: 250px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.splanner .planners .planshow .pfphotos {
  display: flex;
  justify-content: space-between;
  position:relative;
  align-items: center;
  margin: 0 5px;
  margin-top: 10px;
}

.splanner .planners .planshow .pfphotos .pfphoto {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  margin-top: -40px;
  margin-left: 10px;
  padding: 0 0;
  background-color: #6f3a00;
}

.splanner .planners .planshow .position {
  display: flex;
  width: 95%;
  font-size: 15px;
  font-weight: bold;
  color: #dc8b35;
  margin: 10px 0;
  margin-left: 20px;
  opacity: 0.7;
}

.splanner .planners .planshow .pinfo .title{
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
  margin-top: 20px;
}

.splanner .planners .planshow .text {
  text-align: left;
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  margin: 0 15px;
  color: rgba(58, 58, 58, 0.7);
  float: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0px;
  white-space: pre-line;
  word-break:keep-all;
}

/* 아이콘 */
.splanner .planners .planshow .pinfo .cicon{
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.splanner .planners .planshow .pinfo .cicon .ci{
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.splanner .planners .planshow .pinfo .cicon img{
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
.splanner .planners .planshow .pinfo .cicon .ci a{
  font-weight: bold;
  font-size: 13px;
}

/* 카드 강조 효과 */
.card-highlight {
  animation: sparkle 0.5s ease; /* 애니메이션 적용 */
}

/* @keyframes를 사용한 반짝임 애니메이션 정의 */
@keyframes sparkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}