{% load static %}
<!DOCTYPE html>
<html lang="ko">

<head>
  {% block title %}<title>myT</title>{% endblock %}
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/mytbtop.css' %}" />
  <link rel="stylesheet" href="{% static 'css/planner.css' %}" />

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{% static 'javascript/planner.js' %}"></script>
</head>

<body>
  {% include "banner.html" %}
  {% block content %}
  <form>
    <!-- 베스트 탑 10 플래너 -->
    <div class="pback">
      <div class="pbinner">
        <div class="planner">
          <p>Best 플래너 Top 10</p>
          <img src="{% static 'images/fire.png' %}" width="40px" height="40px">
        </div>
        <div class="cardback">
          <div class="sab1">
            <img src="{% static 'images/lt.png' %}" height="100px" />
          </div>
          <div class="cardpage">
            {% if top %}
                {% for post in top %}
                <div class="card">
                    <!-- 순위 및 국가 -->
                    <div class="position">{{ post.position }}. {{ post.country }}</div>
                    
                    <!-- 이미지 -->
                    <img src="{{ post.image_url }}" alt="{{ post.plan_name }}" />
                    
                    <!-- 계획 이름 -->
                    <div class="name">{{ post.plan_name }}</div>
                    
                    <!-- 해시태그 -->
                    <div class="planInfo">
                        <div class="category">{{ post.hashtag1 }} {{ post.hashtag2 }}</div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <p>No top posts available.</p>
            {% endif %}
          </div>
          <div class="sab2">
            <img src="{% static 'images/gt.png' %}" height="100px" />
          </div>
        </div>
      </div>
    </div>
  </form>
  <footer>
    {% include "footer.html" %}
  </footer>
  {% endblock %}
</body>

</html>