form{
    display: block;
    text-align: center;
    margin-top: 150px;
}

form .title{
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 30px;
    font-weight: bold;
    margin: 50px 0px;
}

form .qna{
    display: block;
    text-align: center;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* 글쓰기 */
form .qna .tplus{
    display: flex;
    justify-content: space-between;
}

form .qna .tplus .msg{
    display: flex;
    align-items: end;
    font-size: 12px;
    color: gray;
    padding-top: 30px;
}

form .qna .tplus .btn {
    display: flex;
    justify-content: end;
    font-weight: bold;
    color: #263e50;
    cursor: pointer;
    border-radius: 10px;
    border: 1.5px solid #263e50;
    padding: 10px;
}

form .qna .tplus .btn .plus:hover{
    background-color: #263e50;
    color: white;
}

/* 큐앤에이 타이틀 ( 상단 ) */
form .qna .qnat{
    display: flex;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #494e52;
    border-top: 2px solid #263e50;
    margin: 0 0;
}

form .qna .qnat .dbstate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

form .qna .qnat .dbtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 980px;
    height: 100%;
}

form .qna .qnat .dbwriter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-right: 15px;
}

form .qna .qnat .dbdate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-right: 5px;
}

/* 큐앤에이 답글 ( 하단 ) */
form .qna .qnapage{ 
    border-bottom: 2px solid #263e50;
    margin-bottom: 10px;
}

form .qna .qnapage .bulletin{
    display: flex;
    height: 50px;
    font-size: 20px;
    color: #494e52;
    border-top: 1px solid rgba(38, 62, 80, 0.5);
    margin: 0 0;
}

form .qna .qnapage .bulletin .dbstate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

form .qna .qnapage .bulletin .dbtitle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 900px;
    height: 100%;
    margin: 0 40px;
}

form .qna .qnapage .bulletin .dbwriter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-right: 15px;
}

form .qna .qnapage .bulletin .dbdate{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    margin-right: 5px;
}

/* 큐앤에이 댓글에 대한 답글 */
form .qna .qnapage .reply{
    display: none;
    font-size: 20px;
    color: #494e52;
    background-color: rgba(191, 209, 223, 0.3);
    border-top: 1px solid rgba(38, 62, 80, 0.5);
    padding: 20px 0;
    margin: 0 0;
}

form .qna .qnapage .reply .dbtext{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 900px;
    border-bottom: 1px solid rgba(38, 62, 80, 0.5);
    padding-bottom: 3px;
    margin-left: 150px;
}

form .qna .qnapage .reply .textre{
    display: flex;
    justify-content: start;
    margin-left: 150px;
}

form .qna .qnapage .reply .textre .img{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 15px;
    margin-top: 20px;
}

form .qna .qnapage .reply .dbreply{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 820px;
    padding-top: 3px;
    
}

/* 페이지네이션 */
.qna .paging {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.qna .paging .pagination {
    display: flex;
    list-style: none;
}

.qna .paging .pagination a {
    margin: 0 5px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
    background-color: rgba(231, 244, 255, 0.7);
    color: #263e50;
    cursor: pointer;
}

.qna .paging .pagination a.active {
    background-color: #263e50;
    color: white;
}

.qna .paging .pagination a:hover {
    background-color: #263e50;
    color: white;
}

.qna .paging .pagination a.arrow {
    background-color: transparent;
    color: gray;
}



/* 큐앤에이 글쓰기 */
/* form .qna-write{
    display: block;
    text-align: center;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
}

form .qna-write .write{
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: #494e52;
    border-top: 2px solid #263e50;
    margin: 0 0;
}

form .qna-write .write{
    list-style-type: none;
    padding: 50px 60px 60px 35px;
    border: solid #263e50;
    border-width: 0 0 1px 0;
}

form .qna-write .write > li {
    position: relative;
    padding: 0 0 0 90px;
} */

/* .board-write > li > input[type="password"] */
/* .write > li > select {
    width: 450px;
    height: 30px;
    border: 0;
    font-size: 16px;
    border-bottom: solid 1px #bfd1df;
    margin-left: 10px;
    padding: 0 10px;
}

select {
    padding-right: 36px;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */