<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
	<!-- <servlet>
		<servlet-name>Adder</servlet-name>
		<servlet-class>AdderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Adder</servlet-name>
		<url-pattern>/Adder</url-pattern>
	</servlet-mapping> -->
</web-app>